
@mixin button{
    color: #eccfcf;
    width:7rem;
    padding: .5rem 1rem;
    border: 0;
    font-weight: $font-light;
}
    .primary{
        @include button;
        background-color: $blue-light;
        margin: .5rem 1rem;

    }
    .secondary{
        @include button;
        background-color: $carmin;
    }
