// Color 
$gray:#1a1a1a;
$gray-light:#8f8f8f;
$nickel: #979a9c;
$platinum: #e6e7e7;
$carmin:#da5959;
$blue-light:#3cbdce;


//Font Family
$poppins:'Poppins', sans-serif;

// Font Weight
$font-light:300;
$font-medium:400;
$font-semibold:500;
$font-bold:700;

// Font Sizes
$xx-large: 40px;
$x-large: 25px;
$large:18px;
$medium:16px;
$small:12px;


